/*------------------------------------------------------------------------------------------------
Head, headers, general
------------------------------------------------------------------------------------------------*/
head{
    /*font-size: 1vw;*/
    display: block;
    overflow-x: auto
}

.head_container{
    padding: 2em 16px;
    color: #3d3d3d;
    background-color: rgba(92, 102, 108, 0.33);
}

.instruction_text{
    font-size: large;
}

.center_text{
    text-align: center;
}


/*------------------------------------------------------------------------------------------------
Tables
------------------------------------------------------------------------------------------------*/

table{
    padding-left: 20%;
    /*padding-top: 5%;*/
    align-content: center;
    text-align: center;
    align-content: center;
}

td{
    padding-top: 2%;
    padding-bottom: 2%;
}

.table_cell_place_holder{
    width:20%;
}

#trial_content{
    padding-top: 5%;
    width:80%;
    font-size: x-large;
}

/*------------------------------------------------------------------------------------------------
Stimuli - Images and text
------------------------------------------------------------------------------------------------*/

.img_holder{
    width: auto;
    display: inline-block;
}

.img_holder img{
    width: 30%; /* Will shrink image to 30% of its original width */
    height: auto;
}

.money{
    font-weight: bold;
}

.probability{
    font-family: "Lucida Console", Monaco, monospace;
}

.probability_reward_image{
    height: 10%;
}

.lottery_text{
    background-color: rgba(238, 239, 231, 0.97);
    border-style: solid;
    padding-top: 1%;
    padding-bottom: 1%;
    line-height: 1.5;
}

.default_text{
    border-radius: 5px;
    border-width: 10px;
    border-style: ridge;
    border-color: red;
}

.blur_image {
    opacity: 0.4;
}

.blur_text{
    color: #868686;
    background-color: #ccc;
}

.default_ok{
    background-color: #4CAF50; /* Green */
    font-size: x-large;
    border-color: black;
    border-width: thin;
    text-align: center;
    text-shadow: 1.5px 1.5px rgba(1, 46, 27, 0.3);
    box-shadow: -1px 1px #04461b, 1px 1px #04461b, -1px 1px #04461b;
    cursor: pointer;
}
.default_ok:hover{
    background-color: #6dff72;
}

default_ok:active{
    color: #4bb150;
}

.default_switch{
    color: grey;
    text-align: center;
    display: inline-block;
    font-size: small;
    cursor: pointer;
}

.default_switch:hover{
    color: #d1d1d1;
    border:none;
}

default_switch:active{
    color: #909090;
}
/*------------------------------------------------------------------------------------------------
Choices
------------------------------------------------------------------------------------------------*/

.choice:hover{
    background-color: rgba(186, 187, 180, 0.97);
    cursor: pointer;
}
.choice:active{
    background-color: rgba(115, 116, 112, 0.97);
}

/*Change color slowly*/
.animate_to_dark{
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    background: #33aeaa;
    /*background: #33aeaa;*/
}

.animate_to_bright{
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    transition: all 500ms ease-in-out;
    background: #6dff72;
}

/*------------------------------------------------------------------------------------------------
Fixation between trials
------------------------------------------------------------------------------------------------*/

#fixation_holder{
    width: 40%;
    padding-top: 5%;
    /*padding-left: 40%;*/
    text-align: center;
    color: #000;
    display: table;
    margin: 0 auto;
}

#fixation_text{
    font-weight: bold;
    background-color: rgba(200, 200, 200, 0.87);
    font-size: large;
}

#fixation_text:hover{
    background-color: #6a6a6a;
    cursor: pointer;
}

#choice_presentation{
    padding-left: 4%;
    padding-top: 2%;
    font-size: x-large;
    line-height: 1.6;
}