#instructions{
    font-size: x-large;
    margin-left: 10%;
    margin-right: 10%;
}

li{
    line-height: 1.5;
}

#page_title{
    font-size: xx-large;
    margin-left: 10%;
    padding-top: 5%;
}

.left_bar {
    height: 100%;
    width: 5%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #adadad;
    overflow-x: hidden;
    padding-top: 20px;
}

.right_bar {
    height: 100%;
    width: 5%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #adadad;
    overflow-x: hidden;
    padding-top: 20px;
    margin-left: 95%;
}

.top_bar{
    width: 100%;
    height: 5%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #5c5c5c;
    overflow-x: hidden;
}